<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drdm61dhy/image/upload/v1573414964/assorted-wine-bottles-1283219_zwbf5l.jpg)">
  <div class="logo">
        <img src="https://res.cloudinary.com/drdm61dhy/image/upload/v1573462138/Drunken_Flamingo_Logo_copy_rpp33d.png" />
  </div>
  <div class="container">
    <h1>Welcome to the Drunken Flamingo</h1>
  </div>
  <div class="button">
    <a class="btn btn-outline-light" href="#">Explore</a>
  </div>
</div>
<div>
<h2> Our Cocktail List</h2>
</div>

<div class="container">
<% @cocktails.each do |cocktail| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 250, width: 250, crop: :fill %>')">
  <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
</div>
<% end %>
</div>
<div class="index">
<h4><%= link_to "Add your own Cocktail", new_cocktail_path(@cocktail) %></h4>
</div>


    <!-- <img src="https://res.cloudinary.com/drdm61dhy/image/upload/v1573462138/Drunken_Flamingo_Logo_copy_rpp33d.png" /> -->
