<h1>Cocktail List</h1>

  <% @cocktails.each do |cocktail| %>
  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %><%= link_to "Remove", cocktail_path(cocktail), method: :delete%></h3>
<% end %>
<%= link_to "Add a new cocktail", new_cocktail_path(@restaurant)%>
